/* Basic CSS document */

* {
		outline: none;
		margin: 0;
		padding: 0;
}

body {
		font-size: 62.5%;
		background: url('../img/bg.png');
		background-repeat: repeat;
}

html, body {
		font-family: 'Open Sans', sans-serif, Arial, Verdana, Tahoma;
		height: 100%;
}

div#page {
		width: 408px;
		height: 100%;
		margin: 0 auto 0;
}

@media (max-width: 410px) {
		div#page {
				width: 300px;
		}
}

/* INDEX */

div#logo_container {
		width: 100%;
		line-height: 100px;
		text-align: center;
		height: 170px;
}

div#logo_container img {
		margin-top: 30px;
}

@media (max-width: 410px) {
		div#logo_container img {
				width: 300px;
				height: 71px;
		}
		
		div#logo_container {
				height: 140px;
		}
}

form#bee_safe_form {
		
}

form#bee_safe_form label {
		width: 100%;	
		margin-bottom: 10px;
}

div.text_input_bg {
		position: relative;
		width: 100%;
		height: 40px;
		margin-bottom: 10px;
}

div.text_input_container {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		filter:alpha(opacity=50); /* For IE8 and earlier */
		opacity:0.5;
		border-radius: 8px;
		background-color: #ffffff;
		z-index: 1;
}

form#bee_safe_form input[type=text] {
		position: relative;
		z-index: 2;
		width: 100%;
		height: 100%;
		background: none;
		border-radius: 8px;
		color: #ffffff;
}

form#bee_safe_form input[type=submit] {
		width: 100%;
		color: #ffffff;
}

input#protect_me {
		height: 80px;
		margin-bottom: 15px;		
		background-color: rgb(76, 135, 137);
}

input#help_now {
		height: 120px;		
		background-color: rgb(140, 47, 101);
}

/* TIMER */

div#timer_container {
		width: 100%;
		display: table;
		height: 52%;
		#position: relative;
		overflow: hidden;
		text-align: center;
		font-size: 30px;
		color: #ffffff;
} 

div#timer {
		#position: absolute;
		#top: 50%;
		display: table-cell;
		vertical-align: middle;
}

div#time {
		#position: relative;
		#top: -50%
}

button.timer_control {
		width: 100%;
		height: 16%;
		font-size: 25px;
}

.ball {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(0,183,229,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px #2187e7;
    width: 50px;
    height: 50px;
    margin: 0 auto;
	margin-bottom: 30px;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
	display: none;
}

.ball_yellow {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(255,255,0,0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px yellow;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
	margin-bottom: 30px;
	display: none;
}

.ball_orange {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(255, 165, 0, 0.9);
    opacity: .9;
    border-top: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 35px orange;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    -moz-animation: spin .5s infinite linear;
    -webkit-animation: spin .5s infinite linear;
	margin-bottom: 30px;
	display: none;
}

.ball_red {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(255,0,0,0.9);
    opacity: .9;
    border-radius: 50px;
    box-shadow: 0 0 35px red;
    width: 50px;
    height: 50px;
    margin: 0 auto;
	margin-bottom: 30px;
	display: none;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(360deg);
    };
}

@-moz-keyframes spinoff {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(-360deg);
    };
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    };
}

@-webkit-keyframes spinoff {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
    };
}

/* MONITORING */

table#users {
		width: 100%;
		border: 1px solid black;
}

table#users tr td, table#users tr th {
		border-bottom: 3px solid black;
		border-right: 1px solid black;
		padding: 10px;
}

table#users tr td:last-child {
		border-right: none;
}

div.status_icon {
		width: 10px;
		height: 10px;
		border-radius: 5px;
}

div.status_danger {
		background-color: red;
}

div.status_safe {
		background-color: green;
}

span.status_danger {
		color: red;
		font-size: 15px;
		font-weight: bold;
}

span.status_safe {
		color: green;
		font-size: 15px;
}

button.user_details {
		width: 100%;
		text-align: center;
}
