@font-face {
    font-family: Harabara;
    src: url('../fonts/Harabara.ttf');
}
    body {
    background-image: url(../images/bg-taxi.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    font-family: Harabara;
    color: white;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
}
    h1 {
    margin: 10px 0px;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 6px;
}
    h2 {
    margin: 10px 0px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    text-shadow: none;
}
    h3 {
    margin: 10px 0px;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
}
    h4 {
    margin: 10px 0px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}
    h5 {
    margin: 10px 0px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
    h6 {
    margin: 10px 0px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}
    p {
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
    text-shadow: rgba(0, 0, 0, 0.70) 0px 1px 5px;
}
    .button {
    display: inline-block;
    padding: 4px 15px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
}
    .title {
    margin-top: 100px;
    padding-left: 60px;
    color: white;
    font-size: 100px;
    text-shadow: rgba(0, 0, 0, 0.70) 1px 1px 5px;
    z-index: 1;
}
    .mockup {
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 0;
    display: block;
    height: 400px;
    float: left;
    z-index:-1;
}
    .content {
    margin-top: 200px;
}
    .mailchimp {
    opacity: 1;
}
    .subscribe {
    margin-left: 50px;
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #4c8789;
    letter-spacing: 2px;
}
    .subscribe-text {
    clear: none;
    font-size: 20px;
}
    .subscribe-input {
    width: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.49);
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}
    .fb-link {
    width: 175px;
    height: 43px;
    margin-bottom: 10px;
    background-image: url(../images/fb.png);
    background-repeat: no-repeat no-repeat;
}
    @media (max-width: 991px) {
    body {
    min-height: 600px;
    }
    p {
    font-size: 19px;
    }
    .title {
    margin-top: 39px;
    font-size: 60px;
    }
    .mockup {
    height: 200px;
    min-height: 400px;
    }
    .content {
    margin-top: 250px;
    }
}
    @media (max-width: 767px) {
    body {
    min-height: 400px;
    }
    p {
    font-size: 13px;
    }
    .title {
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 45px;
    }
    .mockup {
    right: 0px;
    width: 120px;
    height: auto;
    min-height: 0px;
    }
    .content {
    margin-top: 0px;
    }
    .subscribe {
    margin-right: 0px;
    margin-left: 0px;
    }
    .subscribe-input {
    width: 100%;
    margin-right: 0px;
    }
    .fb-link {
    width: 135px;
    height: 33px;
    -webkit-background-size: contain;
    background-size: contain;
    background-attachment: scroll;
    }
}
    @media (max-width: 479px) {
    body {
    background-repeat: no-repeat no-repeat;
    }
    .title {
    font-size:45px;
    margin-left: 58px;
    padding-left: 5px;
    text-align: left;
    }
    .mockup {
    position: relative;
    top: 0px;
    width: 100%;
    }
    .content {
    margin-top: 0px;
    margin-bottom: 54px;
    }
}
    .hide {
    display: none;
}
    .subscribe-input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: white;
    letter-spacing: 2px;
}
    .subscribe-input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: white;
    letter-spacing: 2px;
}
    .subscribe-input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: white;
    letter-spacing: 2px;
}
    .subscribe-input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: white;
    letter-spacing: 2px;
}
.fb-like {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(255,255,255,0.49);
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    width: 100%;
    overflow: hidden;
}
